body {
    background-color: white;
}

.container {
    width: 95%;
    height: 700px;
    background-color:beige;
    margin: auto;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

}

.sunrise, .sunatnoon, .sunset, .moonrises {
    padding: 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: dotted 10px yellow;
    text-align: center;
    float: left;
    visibility: hidden;
}

.sunrise {
    background-color: rgb(255, 217, 0);
    position: fixed;
    top: 10%;
    left:5%;
}

.sunatnoon {
    clear: right;
    background-color: #ecbd2c;
    position: fixed;
    top: 10%;
    left:30%;
}

.sunset {
    clear: right;
    background-color: orange;
    position: fixed;
    top: 10%;
    left:55%;
}

.moonrises {
    clear: right;
    background-color: transparent;
    position: fixed;
    top: 10%;
    left:80%;
    box-shadow: 25px 10px 0 0 white;
    border: none;
}

#button5am, #button12noon, #button8pm, #button9pm {
    clear: both;
    font-size: 15px;
    width: 100px;
    padding: 20px;
    float: left;
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: blanchedalmond;
    border:none;
}

#button5am {
    position: fixed;
    top: 40%;
    left:7%;
}

#button12noon {
    position: fixed;
    top: 40%;
    left:32%;
}

#button8pm {
    position: fixed;
    top: 40%;
    left: 57%;
}

#button9pm {
    position: fixed;
    top: 40%;
    left: 82%;
}

#button5am:hover~.sunrise, #button12noon:hover~.sunatnoon, #button8pm:hover~.sunset, #button9pm:hover~.moonrises {
    visibility: visible;
}

.description {
    clear: both;
    position: fixed;
    top: 50%;
    margin-left: 20px;
}

h2 {
    background-color: teal;
    padding: 10px;
    width: 300px;
    text-align: center;
}

.text {
    font-size: 20px;
    line-height: 30px;
}